In [3]:
import sqlite3

In [5]:
cnt=sqlite3.connect("gtadb.db")

In [6]:
cursor=cnt.cursor()

In [8]:
cursor.execute("CREATE TABLE gtatb(release_year INTEGER,game_name TEXT,console TEXT)")

In [4]:
release_list = [
    (1997, "Grand Theft Auto", "state of New Guernsey"),
    (1999, "Grand Theft Auto 2", "Anywhere, USA"),
    (2001, "Grand Theft Auto III", "Liberty City"),
    (2002, "Grand Theft Auto: Vice City", "Vice City"),
    (2004, "Grand Theft Auto: San Andreas", "state of San Andreas"),
    (2008, "Grand Theft Auto IV", "Liberty City"),
    (2013, "Grand Theft Auto V", "Los Santos")
]

In [10]:
cursor.executemany("INSERT INTO gtatb VALUES(?,?,?)",release_list)

In [14]:
#print database rows
for row in cursor.execute("SELECT * FROM gtatb"):
  print(row)

(1997, 'Grand Theft Auto', 'state of New Guernsey')
(1999, 'Grand Theft Auto 2', 'Anywhere, USA')
(2001, 'Grand Theft Auto III', 'Liberty City')
(2002, 'Grand Theft Auto: Vice City', 'Vice City')
(2004, 'Grand Theft Auto: San Andreas', 'state of San Andreas')
(2008, 'Grand Theft Auto IV', 'Liberty City')
(2013, 'Grand Theft Auto V', 'Los Santos')

In [ ]:
#print specific rows
cursor.execute("SELECT game_name FROM gtatb where city=:c", {"c":"Liberty City"})

print(cursor.fetchall())

In [15]:
#print specific rows
cursor.execute("SELECT game_name FROM gtatb where console=:c", {"c":"Liberty City"})

print(cursor.fetchall())

[('Grand Theft Auto III',), ('Grand Theft Auto IV',)]

In [17]:
cursor.execute("CREATE TABLE cities(gtatb_city text, real_city text)")
cursor.execute("INSERT INTO cities VALUES(?,?)",("Liberty City","New York"))
cursor.execute("INSERT INTO cities VALUES(?,?)",("Los Santos","California"))
cities_search=cursor.fetchall()
print(cities_search)

OperationalError: table cities already exists

In [18]:
cursor.execute("DROP TABLE IF EXISTS cities")
cursor.execute("CREATE TABLE cities(gtatb_city text, real_city text)")
cursor.execute("INSERT INTO cities VALUES(?,?)",("Liberty City","New York"))
cursor.execute("INSERT INTO cities VALUES(?,?)",("Los Santos","California"))
cities_search=cursor.fetchall()
print(cities_search)

[]