In [ ]:
import sqlite3

In [ ]:
# connect to database
conn=sqlite3.connect("customer.db")

In [ ]:
#create a cursor
c=conn.cursor()

In [ ]:
#create table
c.execute("""CREATE TABLE customers(
    first_name text,
    last_name text,
    email text
)""")

OperationalError: table customers already exists

In [ ]:
#commit our command
conn.commit()

In [ ]:
#insert one record in the table
c.execute("INSERT INTO customers VALUES('John','Elder','John@codemy.com')")

OperationalError: near "@codemy": syntax error

In [ ]:
#create many customers
many_customers=[
    ('Wes','Brown','wes@brown.com'),
    ('Steph','Kueva', 'steph@kueva'),
    ('Dan','Pas', 'dan@pas.com')
    ]
    #commit our command
conn.commit()

In [ ]:
#add multiples entries
c.executemany("INSERT INTO customers VALUES(?,?,?)",many_customers)
#commit our command
conn.commit()

OperationalError: database is locked

In [ ]:
#query the database
c.execute("SELECT * FROM customers")

In [ ]:
# print one item
c.fetchone()

('Wes', 'Brown', 'wes@brown.com')

In [ ]:
# print more than one items
c.fetchmany(3)

[('Steph', 'Kueva', 'steph@kueva'),
 ('Dan', 'Pas', 'dan@pas.com'),
 ('Wes', 'Brown', 'wes@brown.com')]

In [ ]:
# print all items
c.fetchall()

[('Steph', 'Kueva', 'steph@kueva'),
 ('Dan', 'Pas', 'dan@pas.com'),
 ('Wes', 'Brown', 'wes@brown.com'),
 ('Steph', 'Kueva', 'steph@kueva'),
 ('Dan', 'Pas', 'dan@pas.com')]

In [ ]:
# print items with loop
items=c.fetchall()
for item in items:
  print(item[0]+item[1]+"|"+item[2])

In [ ]:
# print items
print(items)

[]

In [ ]:
#update records
c.execute("""UPDATE customers SET first_name='Jack'
    WHERE last_name='Elder'
""")

OperationalError: database is locked

In [ ]:
#update records
c.execute("""UPDATE customers SET first_name='John'
    WHERE rowid=1
""")

OperationalError: database is locked

In [ ]:
#delete records
c.execute("DELETE FROM customers WHERE rowid=5")

OperationalError: database is locked

In [ ]:
#query the database 0 order by
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC")
items=c.fetchall()
for item in items:
  print(item)

(9, 'Dan', 'Pas', 'dan@pas.com')
(8, 'Steph', 'Kueva', 'steph@kueva')
(7, 'Wes', 'Brown', 'wes@brown.com')
(6, 'Dan', 'Pas', 'dan@pas.com')
(5, 'Steph', 'Kueva', 'steph@kueva')
(4, 'Wes', 'Brown', 'wes@brown.com')
(3, 'Dan', 'Pas', 'dan@pas.com')
(2, 'Steph', 'Kueva', 'steph@kueva')
(1, 'Wes', 'Brown', 'wes@brown.com')

In [ ]:
#query the database - LIKE, AND, OR
c.execute("SELECT rowid, * FROM customers WHERE last_name LIKE 'BR%' OR rowid=3")
items=c.fetchall()
for item in items:
  print(item)

(1, 'Wes', 'Brown', 'wes@brown.com')
(3, 'Dan', 'Pas', 'dan@pas.com')
(4, 'Wes', 'Brown', 'wes@brown.com')
(7, 'Wes', 'Brown', 'wes@brown.com')

In [ ]:
#query the database - LIMIT
c.execute("SELECT rowid, * FROM customers ORDER BY rowid DESC LIMIT 2")
items=c.fetchall()
for item in items:
  print(item)

(9, 'Dan', 'Pas', 'dan@pas.com')
(8, 'Steph', 'Kueva', 'steph@kueva')

In [ ]:
# how to delete a table
c.execute("DROP TABLE customers")
conn.commit

In [ ]:
#create functions in Python-query the database and return all
def show_all():
  c.execute("SELECT rowid, * FROM customers")
  items=c.fetchall()
  for item in items:
    print(item)